{
  "presets": [
    ["env", {
      "modules": false
    }],
    "react",
    "es2015",
    "stage-0",
    "stage-1"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["transform-runtime", { "polyfill": false, "regenerator": true }],
    ["transform-decorators-legacy"]
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        ["styled-components", {
          "minify": false
        }],
        ["transform-runtime", { "polyfill": false, "regenerator": true }]
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        ["styled-components", {
          "displayName": false
        }],
        ["transform-runtime", { "polyfill": false, "regenerator": true }]
      ]
    }
  }
}
